pydub==0.25.1
celery==5.0.5
opencv_contrib_python==4.5.1.48
scenedetect==0.5.5
tqdm==4.59.0
uvicorn==0.13.4
numpy==1.19.2
starlette==0.13.6
Flask==0.12
pydantic==1.7.3
requests==2.25.1
fastapi==0.63.0
passlib==1.7.4
Pillow==8.2.0
PyJWT==2.0.1
pytest==6.2.3
SQLAlchemy==1.4.10
sqlalchemy_utils==0.37.0
TikTokApi==3.9.5
